.softwareimg {
    width:200px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}

.homecontent {
    margin-left: 200px;
}

.homegrid {
    align-items: center;
}

.home_headerimg {
    object-fit: cover;
    float:top;

}

.home_images {
    object-fit: cover;
    height: 800px;
}



ion-button {
    margin-left:20px;
}

.softwareimages{
    margin-left: auto;
    margin-right: auto;
    width:60%;
    height : 60%;
}

.gameimages{
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height : 70%;
}
.mySwiper {    

}
.bullet {
    color:chocolate;

}

.swiper-pagination-bullet-active {
    background-color: #fa7e6d !important;
}

.swiper-pagination-bullet{
    background-color: #fa7e6d !important;
}
    
    